/*
 * Put all of your SASS variables and mixins in here
 * Makes it easy to reuse them on separate sheets if required
 * No actual CSS should be in here...
 */

$black: #050505;
$grey: #545454;

$pink: #cf3594;
$blue: #29ace2;

@mixin fontDefault() {
	font-family: "Roboto",sans-serif;
}

@mixin fontHeadings() {
	font-family: "Oswald",sans-serif;
	font-weight: 500;
}

@mixin buttonStyle() {
	padding: 1em 3em;
	text-decoration: none;
	display: inline-block;
	@media (max-width: 420px) {
		padding: 1.3em 0;
		width: 100%;
 	}
}

@mixin displayFlex() {
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: -webkit-flexbox;
	 display: flex;
}



	