@import "defs";


.main-footer {
	background-color: $black;
	.footer-content {
		@include displayFlex();
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 3.5em 0 0 0;
		@media (max-width: 1020px) { 
			padding: 3.5em 1.5em 0 1.5em;
		}
	}
	.footer-menu {
		@include displayFlex();
		flex-flow: row wrap;
		@media (max-width: 1020px) { 
			#showroom {
				order: 4;
				width: 28%
			}
 		}
 		@media (max-width: 640px) { 
			#showroom {
				order: initial;
				width: 48%
			}
		}
	}
}
.footer-links {
	width: 48%;
	margin-bottom: 3.5em;
	@media (max-width: 1020px) { 
		width: 23%;
		padding: 0;
 	}
 	@media (max-width: 640px) { 
		width: 48%;
	}
	p {
		color: #ffffff;
		font-weight: 300;
		margin-bottom: 0;
	}
	ul {
		padding-left: 0;
		li, li a {
			color: #ffffff;
			font-size: 12px;
			font-weight: 300;
			line-height: 2;
		}
		a:hover {
			color: $blue;
		}
	}
}
.footer-copyright {
	border-top: 1px solid #3f3f3f;
	padding: 1em 0;
	p {
		display: inline;
	}
	i {
		color: #cacaca;
		font-size: 2em;
		float: right;
		margin-left: .5em;
		&:hover {
			color: $pink;
		}
	}
}
.google-maps, .footer-menu {
	width: 48%;
	@media (max-width: 1020px) { 
		width: 100%;
 	}
}

 .google-maps {
        position: relative;
        padding-bottom: 25%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        margin-bottom: 2em;
        @media (max-width: 1020px) { 
 			padding-bottom: 50%;
		}
    }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
