@import "defs";


.logo-container {
	position: relative;
	.logo {
		top: 5px;
		position: absolute;
		z-index: 1;
		img {
			@media (max-width: 900px) {
				width: 100px;
			}
		}
		@media (max-width: 700px) {
			left: 42%;
			img {
				width: 85px;
				height: 100%;
			}
		}
	}
}

// Navigation
.social-nav {
	background-color: $black;
	text-align: right;
	padding: 10px 0;
	ul {
		li {
			display: inline-block;
			color: #959595;
			a {
				color: #959595;
				&:hover {
					color: #ffffff;
				}
			}
			i {
				margin-left: 5px;
			}
		}
	}
	@media (max-width: 700px) {
		display: none;
	}
}

.relative-nav {
	position: relative;
	width: 100%;
}

.main-nav {
	background-color: rgba(5,5,5,0.5);
	text-align: right;
	height: 8em;
	padding: 20px 0;
	position: absolute;
	width: 100%;
	@media (max-width: 800px) {
		text-align: center;
	}
	@media (max-width: 700px) {
		height: 6.5em;
	}
	h4 {
		margin: 0 0 1.5em 0;
	}
	.menu-item-has-children {
		position: relative;
	}
	ul.sub-menu {
		position: absolute;
		left: 0;
		width: 175px;
		padding-left: 0;
		margin-top: 1.3em;
		background-color: rgba(5,5,5,0.8);
		z-index: -99;
		li {
			text-align: left;
			display: block;
			border-top: 1px solid #2a2a2a;
			padding: 0;
			a {
				transition: 0.2s all;
				padding: 20px 17px;
				display: block;
			}
			&:hover {
				border-bottom: none;
				background-color: $blue;
			}
			&:active {
				border-bottom: none;
				background-color: $blue;
			}
		}
	}
	ul.sub-menu-active {
		z-index: 99;
	}
	ul {
		padding-left: 0;
		li.specials {
			background-color: $pink;
			&:hover {
				opacity: .8;
				border-bottom: 0px;
			}
		}
		li {
			display: inline;
			padding: 1em 0;
			a {
				color: #ffffff;
				padding: 1em 1.5em;
				@media (max-width: 1020px) {
					padding: 1em 1em;
				}
				@media (max-width: 800px) {
					padding: 1em .5em;
				}
			}
			&:hover {
				border-bottom: 5px solid $blue;
			}
		}
		@media (max-width: 700px) {
			display: none;
		}
	}
}
.phone-number {
	text-align: right;
	a.mobile-phone {
		display: none;
	}
	@media (max-width: 700px) {
		text-align: left;
		margin-top: 5px;
		h4 {
			display: none;
		}
		a.mobile-phone {
			display: block;
		}
	}
}

.mobile-nav-toggle {
	display: none;
	position: absolute;
	top: 30px;
	right: 20px;
	width: 28px;
	height: 30px;
	background: url("../images/mobile-menu.png") center center no-repeat;
	@media (max-width: 700px) {
		display: block;
	}
}
.mobile-nav {
	display: none;
	position: fixed;
	background-color: $black;
	left: -75%;
	transition: 0.2s all;
	top: 0;
	width: 75%;
	height: 100%;
	overflow-y: scroll;
	z-index: 9999;
	ul {
    	margin: 0;
    	padding: 0;
    	li.current a {
			background-color: $blue;
		}
  		li {
		    list-style-type: none;
		    border-bottom: 1px solid #3f3f3f;
		  	a {
			  	background-color: $black;
			    display: block;
			    box-sizing: border-box;
			    padding: 1.5em 1.2em;
			    font-size: 13px;
			    font-weight: 500;
			    color: #fff;
			    text-decoration: none;
			    &:hover {
		    		background-color: $blue;
		    	}
			}
		}
	}
	.sub-menu {
  		display: none;
  	}
  	.sub-menu-active {
	  	display: block;
	  	li a {
	  		background-color: #302d2e;
	  	}
	 }
	@media (max-width: 700px) {
		display: block;
	}
	.phone-number-mobile {
		padding-left: 1.2em;
	}
}
.mobile-nav-active {
 	left: 0;
}
