@import "defs";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0;
	@include fontDefault();
	font-size: 14px;
	background: #333;
}
article {
	background-color: #ffffff;
}

.full-wrapper {
	width: 100%;
	max-width: 1450px;
	margin: 0 auto;
	background: #fff;
}

.wrapper {
	width: 1020px;
	margin: 0 auto;
	@media (max-width: 1020px) {
		width: 100%;
		padding: 0 1em;
	}
	@media (max-width: 540px) {
		padding: 0 2em;
	}
}
p {
	@include fontDefault();
	color: $grey;
	margin-top: 0;
	line-height: 2;
}
p a {
	@include fontDefault();
	text-decoration: none;
	color: #000000;
	&:hover {
		opacity: 0.7;
	}
}
p.secondary-headline {
	margin: 0 0 3.5em 0;
	@media (max-width: 420px) {
		margin: 0 0 1.5em 0;
	}
	a {
		color: $blue;
	}
}
span.sml {
	font-size: .8em;
}

h2 {
	@include fontHeadings();
	font-size: 1.75em;
	margin-bottom: .3em;
	@media (max-width: 420px) {
		font-size: 1.5em;
	}
}

h3 {
	@include fontHeadings();
	font-size: 1.28em;
	margin: 2em 0 .5em 0;
}
h3 a {
	color: #000000;
	text-decoration: none;
}

h3.feature {
	@include fontHeadings();
	font-size: 2.14em;
	letter-spacing: .7px;
	@media (max-width: 420px) {
		font-size: 1.6em;
	}
}

h4 {
	@include fontHeadings();
	font-size: 1.3em;
	color: #ffffff;
}
h5 {
	@include fontDefault();
	font-size: 1em;
	font-weight: 400;
	margin: 0 0 1em 0;
}
ul {
	margin: 0;
	list-style-type: none;
	li, li a {
		text-decoration: none;
	}
}
blockquote {
  background: #f3f3f3;
  margin: 1.5em 0;
  padding: 1em 1.2em;
  border-left: .5em solid #d5d5d5;
  p {
  	font-size: 1.5em;
	font-weight: 100;
  	margin: 0;
  }
}
@media (max-width: 1020px) {
	.desktop-hidden {
		display: none;
	}
}
@media (min-width: 640px) {
	.tablet-hidden {
		display: none;
	}
}
@media (max-width: 420px) {
	.mobile-hidden {
		display: none;
	}
}

// Content
.main-banner {
	background: url(../images/homepage-banner.jpg) top left no-repeat;
	min-height: 47em;
	background-size: cover;
	padding: 14.5em 0 0 10em;
	margin-bottom: 3.5em;
	// position: relative;
	@media (max-width: 1020px) {
		padding: 16.5em 0 0 0;
		text-align: center;
	}
	@media (max-width: 420px) {
		padding: 0;
		min-height: auto;	
	}
	.banner-feature {
		background-color: rgba(41,172,226,0.7);
		display: inline-block;
		padding: 4.25em 2.85em 5.5em 2.85em;
		text-align: center;
		color: #ffffff;
		@media (max-width: 420px) {
			margin: 10em 0 5em 0;
			width: 100%;	
		}
		h3 {
			margin: 0 0 0.3em 0;
		}
		p.secondary-headline {
			color: #ffffff;
			font-size: 1.14em;
			margin: 0 0 2.5em 0;
		}
	}
	#white-arrows {
		.left-arrow, .right-arrow {
			top: 45%;
		}
	}
}
.page-banner, .page-banner-blog {
	background: url(../images/page-banner.jpg) top left no-repeat;
	background-size: cover;
	padding: 15em 0 0 0;
	min-height: 28.5em;
	margin-bottom: 6.5em;
	@media (max-width: 640px) {
		padding: 12em 1em 2em 1em;
		min-height: 15em;
 	}
	.page-banner-headline {
		text-align: center;
		color: #ffffff;
		h3 {
			margin: 0 0 0.1em 0;
		}
		p.secondary-headline {
			color: #ffffff;
			font-size: 1.14em;
			margin: 0 0 2.5em 0;
			@media (max-width: 420px) {
				font-size: 1em;
			}
		}
	}
	@media (max-width: 640px) {
		margin-bottom: 3.5em;
 	}
}
.page-banner-blog {
	background: url(../images/blog-sample.jpg) top left no-repeat;
	background-size: cover;
}
.product-box-container.col-4 {
	.product-box {
		width: 23%;
		@media (max-width: 1020px) {
			width: 32%;
 		}
 		@media (max-width: 640px) {
			width: 47%;
 		}
 		@media (max-width: 420px) {
 			width: 100%;

 		}
	}
}
#home-feature.product-box-container.col-3 {
	.product-box {
		width: 31.5%;
		 // @media (max-width: 1020px) {
			// width: 47%
 		// }
 		@media (max-width: 640px) {
			width: 100%;
 		}
	}
}
.product-box-container.col-3 {
	.product-box {
		width: 31.5%;
		@media (max-width: 1020px) {
			width: 48%
 		}
 		@media (max-width: 640px) {
			width: 100%;
 		}
	}
}
.post-box-container.col-2 {
	margin-bottom: 4.5em;
	@media (max-width: 640px) {
		margin-bottom: 2.5em;
 	}
	.post-box {
		width: 48.5%;
		@media (max-width: 640px) {
			width: 100%
 		}
	}
}
.product-box-container.col-2 {
	.product-box {
		width: 47%;
		@media (max-width: 1020px) {
			width: 100%
 		}
	}
}
.product-box-container, .post-box-container {
	@include displayFlex();
	 flex-flow: row wrap;
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    #empty {
		background: none;
		height: 0;
		margin: 0;
	}
	.product-box {
		// height: 17.85em;
	}
	.post-box {
		// background: url(../images/blog-sample.jpg) top center no-repeat;
		// height: 23em;
	}
	.product-box, .post-box {
		cursor: pointer;
		position: relative;
		margin: 0 0 3.5em 0;
		overflow: hidden;
		img {
			height: auto;
			width: 100%;
		}
		.sale {
			position: absolute;
			background-color: $pink;
			p {
				padding: .2em 1.2em;
				color: #ffffff;
				margin: 0;
			}
		}
		.product-name, .post-name {
			background-color: rgba(5,5,5,0.8);
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 1;
			.blog-details {
				font-weight: 400 !important;
			}
			.prouduct-details, .blog-details {
				font-weight: 100;
				font-size: .88em;
				color: #ffffff;
				margin: -10px 0 0 0;
				padding: 0 .5em;
			span.right {
				float: right;
				img {
					width: 14px;
					height: 13px;
					}
				}
			}
			h3 {
				@include fontHeadings();
				color: #ffffff;
				text-align: center;
				margin: 1em 0;
				font-size: 1.25em;
			}
		}
		&:focus {
			outline: none;
			.overlay {
				background-color: rgb(41, 172, 226);
				opacity: .8;
				transition: .25s all;
		   		-moz-transition: .25s all;
		  		-webkit-transition: .25s all;
		  		p {
		  			opacity: 1;
		  		}
			}
		}
	}
}
.overlay {
	cursor: pointer;
	background-color: rgb(41, 172, 226);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		width: 90%;
		text-align: center;
	}
	&:hover {
		opacity: .8;
		transition: .25s all;
		-moz-transition: .25s all;
		-webkit-transition: .25s all;
		p {
			opacity: 1;
		}
	}
}

.product-intro {
	@include displayFlex();
	 flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 6.5em;
	@media (max-width: 640px) {
		margin-bottom: 3.5em;
	}
	.slideshow, .description {
		width: 47%;
		@media (max-width: 740px) {
			width: 100%;
			margin-bottom: 2em;
			p {
				margin-bottom: 2em;
			}
 		}
	}
	.description {
		ul {
			padding: 0 0 0 1.3em;
			margin-bottom: 2em;
			@media (max-width: 420px) {
				padding-left: 0;
			}
			li {
				list-style-type: disc;
				@media (max-width: 420px) {
					list-style-type: none;
				}
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
.bottom-margin {
	margin-bottom: 6.5em;
}
.slideshow {
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
}
.arrows {
	.left-arrow, .right-arrow {
		background-color: rgba(41,172,226,0.5);
		padding: .8em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&:hover {
			opacity: 1;
		}
	}
	.right-arrow {
		right: 0%;
	}
	i {
		font-size: 2.2em;
		color: white;
	}
}
#white-arrows {
	.left-arrow, .right-arrow {
		background-color: rgba(255,255,255,0.3);
		padding: 1em;
	}
	.left-arrow {
		left: 0%;
	}
	.right-arrow {
		right: 0%;
	}
}

.about-section {
	margin: 3.5em 0;
	@media (max-width: 420px) {
		margin: 0;
	}
	.about-content-container {
		@include displayFlex();
	 	flex-flow: row wrap;
		justify-content: space-between;
	}
	h2, p.secondary-headline {
		text-align: center;
	}
	.about-content {
		display: inline-block;
		width: 45%;
		@media (max-width: 640px) {
			width: 100%;
 		}
		.button-pink {
			margin-top: 1em;
		}
	}
	.video {
		margin-bottom: 1.5em;
		width: 50%;
		display: inline-block;
		@media (max-width: 640px) {
			width: 100%;
 		}
		iframe {
			width: 100%;
			height: 315px;
		}
	}
}

.testimonials {
	margin: 6.5em 0;
	background-color: $blue;
	text-align: center;
	padding: 7.14em 0;
	position: relative;
	@media (max-width: 420px) {
		padding: 4.5em 2em;
		margin: 4.5em 0;
	}
	p {
		color: #ffffff;
	}
	p.testimonial {
		font-size: 1.7em;
		margin-bottom: .2em;
		@media (max-width: 420px) {
			font-size: 1.3em;
			line-height: 1.5em;
		}
	}
}

.photo-gallery {
	text-align: center;
	margin-bottom: 6.5em;
	@media (max-width: 640px) {
		margin-bottom: 4.5em;
	}
	.photo-box-container {
		@include displayFlex();
		flex-flow: row wrap;
		.photo-box {
			background: url(../images/product-image.jpg) top center no-repeat;
			background-size: cover;
			background-position: 50%;
			height: 13.5em;
			width: 20%;
			position: relative;
			overflow: hidden;
			@media (max-width: 1020px) {
				width: 25%;
		 	}
		 	@media (max-width: 800px) {
				width: 48%;
				margin-bottom: 4%;
				height: 15em;
		 	}
		 	@media (max-width: 640px) {
				height: 13.5em;
		 	}
		}
		@media (max-width: 800px) {
			justify-content: space-between; 
		}
	}
}

.contact-details-container {
	@include displayFlex();
	flex-flow: row wrap;
	justify-content: space-between;
	h3 {
		margin-top: 0;
	}
	.contact-details {
		width: 30%;
		@media (max-width: 740px) {
			width: 100%;
			margin-bottom: 3.5em;
 		}
	}
	.contact-form {
		width: 60%;
		@media (max-width: 740px) {
			width: 100%;
 		}
	}
}

// Tabs Horizonal and Vertical

ul.tab-navigation, ul.tab-navigation-horizontal {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 20%;
	@media (max-width: 640px) {
		width: 100%;
	}
}

ul.tab-navigation li  {
	@include fontHeadings;
	font-size: 1.3em;
	padding: .8em;
	cursor: pointer;
	border: 1px solid #dadada;
	overflow: hidden;
	position: relative;
	&:hover {
		background-color: $blue;
		color: #ffffff;
	}
}

.product-intro ul.tab-navigation-horizontal {
	width: 100%;
	padding: 0;
	margin-bottom: 0;
	li {
		@include fontDefault;
		cursor: pointer;
		font-size: 1em;
		float: left;
		position: relative;
		overflow: hidden;
		border: 1px solid #dadada;
		width: 25%;
		text-align: center;
		padding: 1em .5em;
		p {
			color: #000000;
		}
		&:hover {
			background-color: $blue;
			color: #ffffff;
		}
	}
}

.tab_last { 
	border-right: 1px solid #dadada;
}

ul.tab-navigation li.active, ul.tab-navigation-horizontal li.active {
	background-color: $blue;
	color: #ffffff;
	p {
		color: #ffffff;
	}
}
ul.tab-navigation li.active {
	background: url(../images/arrow.png) no-repeat 90% 50% $blue;
}

.tab_container {
	border: 1px solid #dadada;
	width: 80%;
	background: #fff;
	overflow: auto;
	@media (max-width: 640px) {
		width: 100%;
		border: 0;
	}
}

.tab_content, .tab_content-horizontal {
	display: none;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1.5em;
	@media (max-width: 640px) {
		border: 1px solid #dadada;
		text-align: left;
	}
	ul {
		width: 100%;
		padding-left: 20px;
		li {
			@include fontDefault();
			color: $grey;
			list-style-type: disc;
			line-height: 2;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.col-2 {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 1.5em;
		padding-right: 2em;
		@media (max-width: 740px) {
			width: 100%;
 		}
	}
	h2 {
		margin-bottom: 1em;
	}
}

.tab_container.horizontal {
	width: 100%;
	margin-bottom: 2em;
}

.tab_drawer_heading, .tab_drawer_heading-horizontal { 
	display: none; 
	@media (max-width: 640px) { 
		text-align: left;
	}
}

@media screen and (max-width: 640px) {
	.tab-navigation, .tab-navigation-horizontal {
		display: none;
	}
	.tab_drawer_heading, .tab_drawer_heading-horizontal {
		background-color: $blue;
		color: #fff;
		padding: 1em;
		margin: .5em 0 0 0;
		display: block;
		cursor: pointer;
	}
	.d_active {
		// background-color: #666;
		// color: #fff;
	}
}
.tab_drawer_heading-horizontal  {
	background-color: #000000;
}
#sml-margin {
	margin-top: 4.5em;
	@media (max-width: 420px) {
		margin-top: 1.5em;
	}
}
.highlight-section {
	background-color: $blue;
	color: #ffffff;
	text-align: center;
	padding: 5.75em  0 6.75em 0;
	margin-top: 6.5em;
	clear: both;
	@media (max-width: 420px) {
		margin-top: 4.5em;
		padding: 3.75em  0 4.75em 0;
 	}
	p.secondary-headline {
		color: #ffffff;
		margin: 0 0 2.5em 0;
	}
	input, select, textarea {
		background-color: #ffffff;
	}
	select {
		background: url(../images/select-arrow.png) no-repeat 95% 50% #ffffff;
		height: 45px;
	}

 }
.product-list {
	@include displayFlex();
	flex-flow: row wrap;
	.products {
		width: 74%;
		@media (max-width: 1020px) {
			width: 68%;
 		}
 	 	@media (max-width: 800px) {
			width: 65%;
 		}
 		@media (max-width: 640px) {
		 	width: 100%;
		 	margin-top: 2em;
 		}
 		.product-box-container.col-3 .product-box {
    		width: 30.5%;
    		@media (max-width: 1020px) {
				width: 47%;
 			}
 			@media (max-width: 800px) {
				width: 100%;
 			}
		}
	}
	.sidebar {
		width: 23%;
		@media (max-width: 800px) {
			width: 30%;
 		}
	 	@media (max-width: 640px) {
	 		display: none;
	 		width: 100%;
	 		margin-right: 0px;
			margin-bottom: 3.5em;
 		}
	}
}
.sidebar {
 	height: 100%;
 	background-color: #f3f3f3;
 	padding: 1em 1em 1.5em 1em;
 	margin-right: 30px;
 	font-size: .88em;
 	@media (max-width: 420px) {
			width: 100%
 	}
 	h3 {
 		font-size: 1.5em;
 		margin: .5em 0 1em 0;
 	}
 	.slider {
 		input {
 			padding: 0;
 		}
 		p {
 		display: inline;
 		margin-bottom: 0;
 		}
 		p.right {
 			float: right;
 		}
 	}
 	input.checkbox, input.radio {
		width: 1em;
		color: $grey;
 	}
 	.radio-text {
 		display: inline-block;
 		margin: 0;
 	}
 	.checkbox-label {
 		display: inline;
 	}
 	label p {
 		margin: 1.3em 0 .3em 0;
 	}
 	p.has-tooltip {
 		display: inline-block;
 	}
 	p.grey-title {
 	 	color: #b9b9b9;
 	 	margin-bottom: 0px;
 	}
 	div.tooltip {
 		position: relative;
 		background-color: $pink;
 		padding: .1em .6em;
 		color: #ffffff;
 		display: inline-block;
 		margin-left: .3em;
 		cursor: pointer;
 		div.tooltip-content {
	 		display: block;
	 		background-color: $pink;
	 		opacity: 0;
	 		position: absolute;
	 		top: -10px;
	 		left: 30px;
	 		padding: .5em 1em;
	 		z-index: 99;
	 		width: 300px;
	 		p {
	 			color: #ffffff;
	 			font-size: 1em;
	 			margin: 0;
	 		}
	 	}
	 	 &:hover {
 			.tooltip-content {
	 			opacity: 1;
	 			transition: .5s all;
   				-moz-transition: .5s all;
  				-webkit-transition: .5s all;
	 		}
 		}
 	}
}
 .wet-test {
 	width: 60%;
 	@media (max-width: 640px) {
		width: 100%;
 	}
 	margin: 0 auto;
 	.button a {
 		width: 100%;
 		display: block;
 	}
 }
 .video-full {
 	margin-bottom: 3.5em;
 	width: 100%;
 	iframe {
 		width: 100%;
 		height: 600px;
 		@media (max-width: 1020px) {
			height: 500px
 		}
 		@media (max-width: 640px) {
			height: 400px
 		}
 		@media (max-width: 420px) {
			height: 300px
 		}
 	}
 }

 .headline-left {
 	@include displayFlex();
 	flex-flow: row wrap;
 	margin-bottom: 6.5em;
	@media (max-width: 420px) {
		margin-bottom: 4.5em;
	}
 	h2 {
 		width: 23%;
 		margin: 0 1em .5em 0;
 		 @media (max-width: 640px) {
			width: 100%;
 		}
 	}
 	div.text {
 		width: 73%;
 		@media (max-width: 640px) {
			width: 100%;
 		}
 	}
 }
.faq-title, .filter-title {
	cursor: pointer;
	background-color: $blue;
	padding: 1em 2em 1em 1em;
	margin-top: .5em;
	position: relative;
	text-transform: uppercase;
	p {
		color: #ffffff;
		margin: 0;
	}
	.arrow-left {
		font-family: FontAwesome;
		font-size: 2em;
		right: 2%;
		position: absolute;
		color: #fff;
		transform: translateY(-50%);
		top: 50%;
	}
	div.arrow-left:before {
		content: "\f105";
	}
		div.arrow-up:before {
		content:  "\f106";
	}
}
.filter-title {
	width: 100%;
	background-color: #000000;
}

.accordian {
	padding: 0 4em;
	margin-bottom: 6.5em;
	@media (max-width: 1020px) {
		padding: 0;
 	}
 	@media (max-width: 1020px) {
		margin-bottom: 4.5em;
 	}
 	.faq-content {
 		@include displayFlex();
 		flex-flow: row wrap;
 		justify-content: space-between;
 		border: 1px solid #c0c0c0;
 		padding: 1em;
 		margin: 0 0 .5em 0;
 		p {
 			margin: .5em 0;
 		}
 		.col-4 {
 			text-align: center;
 			width: 25%;
 			margin: 1.5em 0;
 			@media (max-width: 640px) {
				width: 50%;
 			}
 			@media (max-width: 420px) {
				width: 100%;
 			}
 			i {
 				font-size: 6em;
 			}
 			p {
 				line-height: 1.5;
 				span.sml {
 					color: #c2c2c2;
 					&:hover {
 						color: $blue;
 					}
 				}
 			}
 			a {
 				color: #c2c2c2;
 				text-decoration: none;
 				&:hover {
 					color: $blue;
 				}
 			}
 		}
 	}
}

.build-spa {
	@include displayFlex();
	flex-flow: row wrap;
	justify-content: space-between;
	@media (min-width: 740px) {
		.filter-title {
			display: none;
		}
	}
	.sidebar {
		width: 48%;
		@media (max-width: 1020px) {
			width: 38%;
		}
		@media (max-width: 740px) {
			width: 100%;
			margin-right: 0;
			display: none;
 		}
 		.button-form {
			font-size: 1.2em;
			margin-top: 2em;
		}
	}
	.results {
		width: 49%;
		margin-bottom: 6.5em;
		@media (max-width: 1020px) {
			width: 57%;
		}	
		@media (max-width: 740px) {
			width: 100%;
			margin-top: 2em;
 		}
 		@media (max-width: 420px) {
			margin-bottom: 4.5em;
 		}
 		.overlay {
 			&:hover {
				p {
					opacity: 0;
				}
			}
		}
		.slideshow {
			margin-bottom: 1.5em;
		}
		.description {
			margin-bottom: 3.5em;
			.button-pink {
				@media (min-width: 640px) {
					display: none;
				}
				@media (max-width: 640px) {
					display: block;
					margin: 2.5em 0 6.5em 0;
				}
				@media (max-width: 420px) {
					margin: 1.5em 0 4.5em 0;
				}
			}
			@media (max-width: 420px) {
					text-align: center;
				}
		}
		h2 {
			margin-top: 0;
		}
		.heading {
			@include displayFlex();
			justify-content: space-between;
			flex-flow: row wrap;
			.text {
				width: 60%;
				@media (max-width: 640px) {
					width: 100%;
 				}
 				@media (max-width: 420px) {
					text-align: center;
 				}

			}
			.button-pink {
				margin-top: .7em;
				height: 100%;
				a.button-pink-link {
					padding: 0.9em 0;
				}
				@media (max-width: 640px) {
					display: none;
				}
			}
		}
	}
}
.pagination {
	margin-bottom: 6.5em;
	@media (max-width: 420px) {
		margin-bottom: 4.5em;
	}
	h3 {
		margin-top: 0;
	}
	.text-left {
		display: inline-block;
		width: 49%;
	}
	.text-right {
		float: right;
		text-align: right;
		width: 48%;
	}
}
// Modal
.modalbg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 99999;
	-moz-transition: all .25s ease-out;
	-webkit-transition: all .25s  ease-out;
	-o-transition: all .25s  ease-out;
	transition: all .25s  ease-out;
	-webkit-transition-delay: .25s ;
	-moz-transition-delay: .25s ;
	-o-transition-delay: .25s ;
	-transition-delay: .25s ;
	display: block;
	pointer-events: none;
}
.modalbg .dialog {
	width: 620px;
	position: relative;
	top: -1000px;
	margin: 10% auto;
	padding: 2em 2em 5em 2em;
	background: #fff;
	box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
  h2 {
  	margin-top: 0;
  }
 	@media (max-width: 640px) {
		width: 90%;
 	}
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg:target {
	display: block;
	pointer-events: auto;
	background: rgba(4, 10, 30, 0.8);
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
	top: -20px;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-transition-delay: 0.4s;
}
.close {
	color: #d4d4d4;
	line-height: 2;
	font-size: 1.4em;
	position: absolute;
	right: 5px;
	top: 0;
	width: 24px;
	text-decoration: none;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#d4d4d4', Direction=135, Strength=3);
}

// Buttons


 a.button-link {
	@include buttonStyle();
	border: 2px solid #ffffff;
	background-color: $blue;
	color: #ffffff;
}
.button-form {
	@include fontDefault();
	border: 0;
	font-size: 1em;
	width: auto;
	float: right;
	background-color: $pink;
	color: #ffffff;
	cursor: pointer;
	padding: 0.9em 2em;
	@media (max-width: 420px) {
		padding: 1.3em 3em;
		width: 100%;
 	}
}
div.button-pink {
	@include buttonStyle();
	background-color: $pink;
	color: #ffffff;
	text-align: center;
	a.button-pink-link {
	// @include buttonStyle();
	// background-color: $pink;
	color: #ffffff;
	text-decoration: none;
	// margin: 2.5em 0;	
	}
	&:hover {
		opacity: .8;
		transition: .25s all;
   		-moz-transition: .25s all;
  		-webkit-transition: .25s all;
	}
}

// Hover styles  from hover.css
 /* Sweep To Right */
.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $pink;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: #ffffff;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

// Forms
 input, textarea, select {
 	@include fontDefault();
 	font-size: .9em;
 	padding: 1.2em;
 	width: 100%;
 	background-color: #ededed;
 	border: 0;
 	margin-bottom: 1em;
 }
 select {
 	@include fontDefault();
 	width: 100%;
 	padding: 0 1.2em;
 	background: url(../images/select-arrow.png) no-repeat 95% 50% #ffffff;
    -webkit-appearance: none;
  	-webkit-border-radius: 0px;
    height: 40px;
    border-color: #9298a1;
 }

